*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primaryColour : #00bfff;
    --black : #1B2028;
}
.addProductPage{
    height: 100vh;
    width: 100vw;
    background-color: #1B2028;
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#addpd{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 2px 2px 5px var(--primaryColour), -2px -2px 5px var(--primaryColour);
    padding: 10px 20px;
}
caption{
    padding: 10px 0px;
    font-size: 18px;
    font-weight: bold;
    color: var(--primaryColour);
}
input[type='submit']{
    margin-top: 10px;
    padding: 5px 10px;
    background-color: var(--primaryColour);
    color: var(--black);
    border: none;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    /* font-size: 10px; */
}
textarea{
    width: 100%;
}